<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szgc.vibrate.dao.SurfaceDao">

    <resultMap id="SurfaceVo" type="com.szgc.vibrate.entity.SurfaceVo">
        <id column="SURFACE_ID" jdbcType="INTEGER" property="surfaceId" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="PARENT_ID" jdbcType="INTEGER" property="parentId" />
        <result column="COORD" jdbcType="VARCHAR" property="coord" />
        <result column="BASE_COORD" jdbcType="VARCHAR" property="baseCoord" />
        <result column="HEIGHT" jdbcType="REAL" property="height" />
        <result column="START_TIME" jdbcType="TIMESTAMP" property="startTime" />
        <result column="CLOSE_TIME" jdbcType="TIMESTAMP" property="closeTime" />
        <result column="DELETE_STATUS" jdbcType="INTEGER" property="deleteStatus" />
        <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
        <result column="SURFACE_ID_PATH" jdbcType="LONGVARCHAR" property="surfaceIdPath" />
        <result column="SURFACE_NAME_PATH" jdbcType="LONGVARCHAR" property="surfaceNamePath" />
    </resultMap>

    <resultMap id="SurfaceTreeNodeVo" type="com.szgc.vibrate.entity.SurfaceTreeNodeVo" extends="SurfaceVo"/>

    <sql id="selectSurfaceBaseSql" >
        SELECT
            CBSI.SURFACE_ID,
            CBSI.NAME,
            CBSI.PARENT_ID,
            CBSI.COORD,
            CBSI.BASE_COORD,
            CBSI.HEIGHT,
            CBSI.START_TIME,
            CBSI.CLOSE_TIME,
            CBSI.DELETE_STATUS,
            CBSI.DELETE_STATUS,
            CBSI.CREATE_TIME,
            CBSI.SURFACE_ID_PATH,
            CBSI.SURFACE_NAME_PATH
        FROM CM_ZD_BACK_SURFACE_INFO CBSI
    </sql>
    <select id="findDirectSubSurfaceTreeNodes" resultMap="SurfaceTreeNodeVo" parameterType="map">
        <include refid="selectSurfaceBaseSql"/>
        WHERE CBSI.PARENT_ID = #{surfaceId}
        AND CBSI.DELETE_STATUS =0
        ORDER BY CBSI.NAME ASC
    </select>

    <select id="findSurfaceTree" resultMap="SurfaceTreeNodeVo" parameterType="map">
        <include refid="selectSurfaceBaseSql"/>
        WHERE CBSI.DELETE_STATUS =0
    </select>

    <select id="findSurfaceTreeBySurfaceId" resultMap="SurfaceTreeNodeVo" parameterType="map">
        <include refid="selectSurfaceBaseSql"/>
        WHERE CBSI.DELETE_STATUS =0
        AND FIND_IN_SET(#{surfaceId},CBSI.SURFACE_ID_PATH)
    </select>
</mapper>