<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szgc.vibrate.table.dao.TagInfoMapper">
  <resultMap id="BaseResultMap" type="com.szgc.vibrate.table.model.TagInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TAG_ID" jdbcType="INTEGER" property="tagId" />
    <result column="TAG_MAC" jdbcType="VARCHAR" property="tagMac" />
    <result column="TAG_NAME" jdbcType="VARCHAR" property="tagName" />
    <result column="SURFACE_ID" jdbcType="INTEGER" property="surfaceId" />
  </resultMap>
</mapper>